<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guddqs.monkeycomputer.other.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="message">
    <id column="ID" jdbcType="OTHER" property="id" />
    <result column="USERID" jdbcType="OTHER" property="userid" />
    <result column="TYPE" jdbcType="OTHER" property="type" />
    <result column="TITLE" jdbcType="OTHER" property="title" />
    <result column="DESCRIPTION" jdbcType="OTHER" property="description" />
    <result column="CREATETIIME" jdbcType="OTHER" property="createtiime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USERID, TYPE, TITLE, DESCRIPTION, CREATETIIME
  </sql>
  <select id="selectByExample" parameterType="messageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MESSAGE
    where ID = #{id,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MESSAGE
    where ID = #{id,jdbcType=OTHER}
  </delete>
  <delete id="deleteByExample" parameterType="messageExample">
    delete from MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="message">
    insert into MESSAGE (ID, USERID, TYPE, TITLE, 
      DESCRIPTION, CREATETIIME)
    values (#{id,jdbcType=OTHER}, #{userid,jdbcType=OTHER}, #{type,jdbcType=OTHER}, #{title,jdbcType=OTHER}, 
      #{description,jdbcType=OTHER}, #{createtiime,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="message">
    insert into MESSAGE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createtiime != null">
        CREATETIIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=OTHER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=OTHER},
      </if>
      <if test="type != null">
        #{type,jdbcType=OTHER},
      </if>
      <if test="title != null">
        #{title,jdbcType=OTHER},
      </if>
      <if test="description != null">
        #{description,jdbcType=OTHER},
      </if>
      <if test="createtiime != null">
        #{createtiime,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="messageExample" resultType="java.lang.Integer">
    select count(*) from MESSAGE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MESSAGE
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=OTHER},
      </if>
      <if test="record.userid != null">
        USERID = #{record.userid,jdbcType=OTHER},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=OTHER},
      </if>
      <if test="record.title != null">
        TITLE = #{record.title,jdbcType=OTHER},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=OTHER},
      </if>
      <if test="record.createtiime != null">
        CREATETIIME = #{record.createtiime,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MESSAGE
    set ID = #{record.id,jdbcType=OTHER},
      USERID = #{record.userid,jdbcType=OTHER},
      TYPE = #{record.type,jdbcType=OTHER},
      TITLE = #{record.title,jdbcType=OTHER},
      DESCRIPTION = #{record.description,jdbcType=OTHER},
      CREATETIIME = #{record.createtiime,jdbcType=OTHER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="message">
    update MESSAGE
    <set>
      <if test="userid != null">
        USERID = #{userid,jdbcType=OTHER},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=OTHER},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=OTHER},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=OTHER},
      </if>
      <if test="createtiime != null">
        CREATETIIME = #{createtiime,jdbcType=OTHER},
      </if>
    </set>
    where ID = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="message">
    update MESSAGE
    set USERID = #{userid,jdbcType=OTHER},
      TYPE = #{type,jdbcType=OTHER},
      TITLE = #{title,jdbcType=OTHER},
      DESCRIPTION = #{description,jdbcType=OTHER},
      CREATETIIME = #{createtiime,jdbcType=OTHER}
    where ID = #{id,jdbcType=OTHER}
  </update>
</mapper>